<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.owner.username%> recipes</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>  <%= recipe.name %>  </h1>
    <h2> Recipe Details:</h2>
    <p><strong> Instructions:</strong><%= recipe.instructions %></p>
    <form action="/recipes/<%= recipe._id%>?_method=DELETE" method="post">
        <button type="submit"> Delete This Recipe</button>

    </form>

</body>
</html>